---
// image import

import {Image} from 'astro:assets';

import logoImage from '../images/logo.svg'
---


<header>
    <div class="logo">
        <Image src={logoImage} alt="logo">
    </div>
</header>